/* General Styles */
body {
    font-family: 'Calibri', sans-serif;
    background-color: #f4f4f4; 
    margin: 0;
    padding: 20px;
   
}

.ProfilePageBox {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Headers */
h2 {
    color: #333; 
}

/* User Info Section */
.ProfileUserInfo {
    margin-bottom: 20px;
}

.ProfileInfoEvents,
.ProfileInfoRes {
    font-weight: bold;
}

/* Buttons */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.ProfileEditUserButton,
.EventDeleteUserBut,
.ProfileEditEventButton,
.EventDeleteBut,
.ProfileEditReservationButton,
.ReservationDeleteBut {
    
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; 
}

/* Events and Reservations Lists */
.ProfileEventsList li,
.ProfileReservationList li {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 15px;
    margin-bottom: 10px;
    background-color: #e9ecef; 
    border-radius: 5px;
}

.buttonContainer {
    display: flex;
    gap: 10px; 
}

/* Optional: Adjust button styles if needed */
.ProfileEditEventButton,
.EventDeleteBut,
.ProfileEditReservationButton,
.ReservationDeleteBut {
    margin-left: 10px; /
}


/* Modal Styles */
.CustomModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.CustomModal > div {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

/* Form Inputs */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc; 
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #007bff; 
}

/* Error Messages */
.ReservationErrors,
.profileErrors {
   color: red; 
   font-size: small; 
   margin-top: -5px; 
}
