.AlleventsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 3
}

.AllEventsHeader {
    color: #ffffff; 
    margin-bottom: 20px;
}

.AllEventsList {
    list-style-type: none; 
    padding: 0; 
    width: 100%; 
    
}

.AllEventsList li {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.eventName {
    font-size: 2.5em;
    text-decoration: underline; 
    color: #2F574E; 
}

.AllEventsList p {
    margin: 5px 0; 
}

/* Registration Button Styles specific to ReservationCheckModal */
.reservationCheckModal .AllEventsRegCheckBut {
    background-color: #2F574E; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
}

/* Hover effect for the registration button in ReservationCheckModal */
.reservationCheckModal .AllEventsRegCheckBut:hover {
    background-color: #891C7C; /
}

.reservationCheckModal .AllEventsRegCheckBut:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}

/* Modal Styles */
.EventAddTitle {
    font-size: 1.5em; 
    margin-bottom: 15px; 
}

.AddEventButtons {
    display: flex;
    flex-direction: column; 
}

.EventLabel {
    margin-bottom: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.EventLabel input {
    width: 50px; 
    padding: 5px; 
    border-radius: 5px;
    border: 1px solid #ccc; 
    margin-left: 10px; 
}

.EventLabel input:focus {
    border-color: #891C7C; 
}

/* Button styling with border */
button[type="button"],
.AllEventsRegCheckBut {
    background-color: transparent; 
    color: #2F574E; 
    border: 1px solid #2F574E; 
    border-radius: 5px; 
    cursor: pointer;
    padding: 10px 15px; 
    margin-top: 10px; 
}

/* Hover effect for buttons */
button[type="button"]:hover,
.AllEventsRegCheckBut:hover {
    background-color: #368473; 
}

/* Reservation Check Modal Styles (for alignment) */
.reservationCheckModal {
    display: flex; 
    justify-content: center;
}
