.AllPhotosBox {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.AllPhotosHeader {
    color: #ffffff;
    margin-bottom: 20px; 
}

.PostButton {
    background-color: #2F574E;
    color: white; 
    padding: 10px 15px; 
    border-radius: 5px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-bottom: 20px; 
}

/* Hover effect for post button */
.PostButton:hover {
    background-color: #891C7C; 
}

/* Modal Styles */
.PostPhotoTitle {
    font-size: 1.5em; 
    margin-bottom: 15px; 
}

.PostPhotoButtons {
    display: flex;
    flex-direction: column; 
}

/* Label styles for modal inputs */
.postPhotoLabel {
    margin-bottom: 10px; 
    display: flex; 
    align-items: center; 
}

.postPhotoLabel input {
    width: calc(100% - 20px); 
    padding: 5px; 
    border-radius: 5px;
    border: 1px solid #ccc; 
    margin-left: 10px; 
}

.postPhotoLabel input:focus {
    border-color: #891C7C;
}

/* Button styling with border for modal buttons */
button[type="button"] {
    background-color: #2F574E; 
    color: white; 
    padding: 10px 15px; 
    border-radius: 5px; 
    border: none; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

/* Hover effect for modal buttons */
button[type="button"]:hover {
    background-color: #891C7C; 
}

/* Photo List Styles with Grid Layout */
.AllPhotosList {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
    list-style-type: none; 
    padding: 0; 
    width: 100%; 
}

.AllPhotosList li {
    overflow: hidden; 
    border-radius: 10px; 
    height: 200px; 
}

.AllPhotosList img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
