/* Outer container for centering content */
.outerContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background-color: rgba(0, 0, 0, 0.5); 
}


.CreateREsBox {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 30px; 
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    width: 300px; 
    text-align: center; 
}

.CreateResTitle {
    color: #2F574E; 
    margin-bottom: 20px; 
}

.CreateResButtons {
    display: flex;
    flex-direction: column; 
    width: 100%; 
}

.CreateResPlayers,
.CreateResDate,
.CreateResTime {
    margin-bottom: 15px; 
    display: flex;
    align-items: center; 
}

.CreateResPlayers input,
.CreateResDate input,
.CreateResDate select {
    width: 100px; 
    padding: 5px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
    margin-left: 10px; 
}

.CreateResPlayers input:focus,
.CreateResDate input:focus,
.CreateResDate select:focus {
    border-color: #891C7C; 
}

/* Error message styling */
.ReservationErrors {
    color: red; 
    font-size: 0.9em; 
}

/* Button styling for confirm button */
button[type="button"] {
    background-color: #2F574E;
    color: white; 
    padding: 10px 15px; 
    border-radius: 5px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

/* Hover effect for confirm button */
button[type="button"]:hover {
    background-color: #891C7C; 
}


.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
