.outterSignup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: rgba(0, 0, 0, 0.5); 
}

.innerSignup {
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 400px; 
  text-align: center; 
}

.glowSec {
  margin-bottom: 20px; 
}

.glowH2 {
  color: #891C7C; /* Color for glowing text */
  text-shadow: 0 0 10px rgba(137, 28, 124, 0.8); 
}

.signupSec h1 {
  margin-bottom: 20px;
  color: #2F574E; 
}

.signupInput {
  width: 100%; 
  padding: 10px;
  margin-bottom: 15px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 16px;
}

.signupInput:focus {
  border-color: #891C7C; 
  outline: none; 
}

.signupButton {
  background-color: #2F574E; 
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

.signupButton:hover {
  background-color: #891C7C; 
}

/* Link styling */
.signupLink {
  color: #2F574E; 
}

.signupLink:hover {
  text-decoration: underline; 
  color: #891C7C
}

/* Error message styling */
p.error {
  color: red; 
}
