.OnePhotoBox {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    margin-bottom: 20px; 
    margin-top: 100px;
}

.OnePhoto {
    width: 900px; 
    height: 600px; 
    border-radius: 10px;
    object-fit: contain;
}

.PhotoContainer {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}


.PhotoCaption {
    color: #2F574E;
    margin-top: 10px; 
    margin-bottom: 20px; 
    font-size: 1em; 
    position: relative; 
    z-index: 1; 
    padding: 10px;
    border-color: white;
    margin-bottom: 300px;
}


.PhotoCaption::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 10px; 
    backdrop-filter: blur(10px); 
    z-index: -1; 
    
}

.PhotoButtons {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

.DeletePhotoBut,
.editPhotoBut {
    background-color: #2F574E;
    color: white; 
    padding: 10px 15px; 
    border-radius: 5px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-right: 10px; 
}

/* Hover effect for buttons */
.DeletePhotoBut:hover,
.editPhotoBut:hover {
    background-color: #891C7C;
}

/* Modal Styles for Delete and Edit Modals */
.ProfilePhotoTitle {
    font-size: 1.5em; 
    margin-bottom: 15px; 
}

.ProfilePhotoButtons {
    display: flex;
    flex-direction: column; 
}

.PhotoEventLabel {
    margin-bottom: 10px; 
}

.PhotoEventLabel input {
    width: calc(100% - 20px);
    padding: 5px; 
    border-radius: 5px;
    border: 1px solid #ccc; 
}

.PhotoEventLabel input:focus {
    border-color: #891C7C; 
}


p.error {
   color: red; 
}
