.outterLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: rgba(0, 0, 0, 0.5); 
}

.loginSec {
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 300px; 
  text-align: center; 
}

.loginSec h1 {
  margin-bottom: 20px;
  color: #2F574E; 
}

.loginInput {
  width: 100%; 
  padding: 10px;
  margin-bottom: 15px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  font-size: 16px; 
}

.loginInput:focus {
  border-color: #891C7C; 
  outline: none; 
}

.loginButton {
  background-color: #2F574E; 
  color: white; 
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /
}

.loginButton:hover {
  background-color: #891C7C; 
}

.loginDemo {
  background-color: transparent; 
  color: #2F574E; 
  border: none;
  cursor: pointer;
  margin-top: 10px; 
}

.loginDemo:hover {
  text-decoration: underline; 
  color: #891C7C
}

.loginLink {
  color: #2F574E; 
}

.loginLink:hover {
  text-decoration: underline; 
  color: #891C7C
}

/* Error message styling */
p.error {
  color: red; 
}

  